body {
    background-color: var(--background-color);
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
file-attachment {
    box-sizing: border-box;
    margin-bottom: 16px;
    display: block;
    background-color: rgb(13, 17, 23);
    border-radius: 6px;
    padding: 80px 40px;
    position: relative;
    text-align: center;
    color: rgb(230, 237, 243);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    line-height: 21px;
    border: 1px solid rgb(48, 54, 61);
}
svg.octicon.octicon-file.mb-2.color-fg-muted {
    overflow: visible;
    box-sizing: border-box;
    vertical-align: text-bottom;
    display: inline-block;
    fill: rgb(141, 150, 160);
    color: rgb(141, 150, 160);
    margin-bottom: 8px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    line-height: 21px;
    background-color: rgb(13, 17, 23);
}
span.upload-text {
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 600;
    display: block;
    margin-bottom: 4px;
    text-align: center;
    color: rgb(230, 237, 243);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    line-height: 36px;
    background-color: rgb(13, 17, 23);
}
p.upload-choose {
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 0px;
    color: rgb(141, 150, 160);
    font-size: 16px;
    break-inside: auto;
    display: inline-block;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    line-height: 24px;
    background-color: rgb(13, 17, 23);
}
input#input-video {
    font: 400 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    overflow: clip;
    box-sizing: border-box;
    cursor: pointer;
    opacity: 0.0001;
    padding: 5px;
    position: absolute;
    width: 240px;
    color: rgb(141, 150, 160);
    text-align: start;
    background-color: rgb(13, 17, 23);
    transform: translateY(-22px);
}
span.upload-choose-text {
    box-sizing: border-box;
    outline: rgb(68, 147, 248) none 0px;
    appearance: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(68, 147, 248);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    text-decoration: underline solid rgb(68, 147, 248);
    white-space: nowrap;
    user-select: none;
    border-radius: 6px;
    outline-offset: 0px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    line-height: 24px;
}
span.error {
    display: none;
}


.container {
    width: 300px;
    max-width: 320px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

input, select, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}

progress#progress-bar {
    box-sizing: border-box;
    background-color: rgba(110, 118, 129, 0.4);
    border-radius: 6px;
    display: flex;
    height: 8px;
    outline: rgba(0, 0, 0, 0) solid 1px;
    overflow: hidden;
    list-style-type: none;
    color: rgb(230, 237, 243);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    line-height: 21px;
    width: 100%;
}
#preview {
    width: 100%;
    margin-top: 10px;
}

nav.navbar {
    padding: 10px 0;
    text-align: center;
}

:root {
    --background-color: #13181b;
    --text-color: #ffffff;
    --container-background: #1c2327;
    --input-background: #2a3035;
    --button-color: #bef73c;
    --button-text-color: #13181b;
    --border-color: #2a3035;
}


select#watermark-select {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #1c2327;
    border: none;
    border-radius: 5px;
    color: var(--text-color);
    height: 50px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

button {
    width: 100%;
    height: 50px;
    font: 500 14px / 20px -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    overflow: visible;
    appearance: none;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
    outline: rgba(0, 0, 0, 0) solid 1px;
    outline-offset: -2px;
    display: inline-block;
    padding: 5px 16px;
    position: relative;
    white-space: nowrap;
    user-select: none;
    vertical-align: middle;
    text-decoration: none solid rgb(255, 255, 255);
    background-color: rgb(46, 154, 64);
    color: rgb(255, 255, 255);
    transition: color 0.1s cubic-bezier(0.33, 1, 0.68, 1), background-color, box-shadow, border-color;
    border: 1px solid rgba(240, 246, 252, 0.1);
}

.navbar {
    padding: 10px 0;
    text-align: center;
}
img.logo {
    padding: 0.5rem;
    height: 30px;
}

#textBox {
    font: 400 14px / 21px -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin: 8px 0px;
    overflow: auto;
    box-sizing: border-box;
    outline: rgb(230, 237, 243) none 0px;
    outline-offset: 0px;
    background-color: rgb(22, 27, 34);
    background-position: calc(100% - 8px) 50%;
    background-repeat: no-repeat;
    border: 1px solid rgb(48, 54, 61);
    border-radius: 6px;
    box-shadow: rgba(1, 4, 9, 0.24) 0px 1px 0px 0px inset;
    color: rgb(230, 237, 243);
    padding: 8px 12px;
    transition: color 0.08s cubic-bezier(0.33, 1, 0.68, 1), background-color, box-shadow, border-color;
    vertical-align: middle;
    display: block;
    width: 100%;
}
video#preview {
    margin: 15px 0;
    border: 2px var(--border-color) dashed;
    border-radius: 10px;
    height: auto;
}
